# fly.toml file generated for fly-redis on 2021-09-23T20:13:49+01:00

app = "fly-redis"

[build]
  [build.args]
    REDIS_VERSION = "6.2.5"

[experimental]
  private_network = true

[[mounts]]
  source = "redis_server"
  destination = "/data"

# Uncomment the following to allow external/public access on port 10000
# Otherwise, just use internal 6PN addresses and port 6379
#
# [[services]]
#   internal_port = 6379
#   protocol      = "tcp"
#
#   [services.concurrency]
#     hard_limit = 25
#     soft_limit = 20
#
#   [[services.ports]]
#     handlers = []
#     port     = "10000"
#
#   [[services.tcp_checks]]
#     interval = 10000
#     timeout  = 2000
